src/main/resources/helloservice.wsdl

<wsdl:definitions name="helloservice"
			 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!--
		Types
	-->
	<wsdl:types>
		<xsd:schema>
			<xsd:element name="User">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="id" type="xsd:int"/>
						<xsd:element name="name" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="UserResp" >
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="msg" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>


	<!--
		Messages
	-->
	<wsdl:message name="SayHelloRequest">
		<wsdl:part name="parameters" element="User"/>
	</wsdl:message>

	<wsdl:message name="SayHelloResponse">
		<wsdl:part name="parameters" element="UserResp"/>
	</wsdl:message>


	<!--
		Port types & operations
	-->
	<wsdl:portType name="Hello_PortType">
		<wsdl:operation name="sayHello">
			<wsdl:input message="SayHelloRequest"/>
			<wsdl:output message="SayHelloResponse"/>
		</wsdl:operation>
	</wsdl:portType>


	<!--
		Binding
	-->
	<wsdl:binding name="Hello_Binding" type="Hello_PortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<wsdl:input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


	<!--
		Service def.
	-->
	<wsdl:service name="Hello_Service">
		<wsdl:documentation>WSDL File for HelloService</wsdl:documentation>
		<wsdl:port binding="Hello_Binding" name="Hello_Port">
			<soap:address location="http://localhost:9080/example/ws"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>